/* Tablet landscape and bigger */
@media (min-width: 960px) {
  h3, .uk-h3 {
    font-size: 1.2rem;
  }
}
.tm-toolbar-container:not(.uk-navbar-transparent) {
  background: #222;
}

.tm-toolbar-container .uk-navbar-item {
  color: #999;
}

.tm-toolbar-container .uk-navbar-nav > li > a {
  text-transform: none;
}

.tm-toolbar-container .uk-navbar-nav > li > a,
.tm-toolbar-container .uk-navbar-item,
.tm-toolbar-container .uk-navbar-toggle {
  height: 40px;
}

.tm-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
}

.tm-navbar-container {
  border-bottom: 1px solid #E5E5E5;
}

.tm-navbar-container-fixed {
  z-index: 1005;
}

.tm-navbar-container .uk-navbar-nav > li > a,
.tm-navbar-container .uk-navbar-item,
.tm-navbar-container .uk-navbar-toggle {
  height: 60px;
}

.tm-navbar-button {
  position: relative;
  padding: 0 10px;
}
@media (min-width: 640px) {
  .tm-navbar-button {
    padding: 0 15px;
  }
}
.tm-navbar-button .uk-badge {
  font-size: 0.625rem;
  position: absolute;
  top: 10px;
  right: 5px;
  min-width: 18px;
  height: 18px;
}

.tm-link-to-all > * {
  vertical-align: middle;
}
.tm-link-to-all > .uk-icon {
  position: relative;
  left: 0;
  margin-left: 3px;
  -webkit-transition: left 60ms;
  transition: left 60ms;
}
.tm-link-to-all:hover > .uk-icon {
  left: 2px;
}

.tm-aside-column {
  min-width: 270px;
}

.tm-change-view {
  display: none;
}
@media (min-width: 768px) {
  .tm-change-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.tm-product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  background-color: #fff;
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
.tm-product-card.uk-first-column {
  border-left: none;
}
@media (max-width: 767px) {
  .tm-product-card {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .tm-product-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm-product-card:hover {
    z-index: 2;
    -webkit-box-shadow: 0 28px 50px rgba(0, 0, 0, 0.16);
            box-shadow: 0 28px 50px rgba(0, 0, 0, 0.16);
  }
}

.tm-product-card-media {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tm-product-card-media > .tm-ratio {
  height: 100%;
}
.tm-product-card-media > .tm-ratio > .tm-media-box {
  padding: 15px;
}
@media (min-width: 640px) {
  .tm-product-card-media > .tm-ratio > .tm-media-box {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .tm-product-card-media {
    width: 100%;
  }
}

.tm-product-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px 15px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 640px) {
  .tm-product-card-body {
    padding: 20px 20px 20px 0;
  }
}
@media (min-width: 768px) {
  .tm-product-card-body {
    padding: 0 20px 20px 20px;
  }
}

.tm-product-card-title {
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  overflow: hidden;
  max-height: 66px;
  margin: 0 0 20px;
  text-overflow: ellipsis;
  color: inherit;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (min-width: 640px) {
  .tm-product-card-title {
    font-size: 18px;
    line-height: 24px;
    max-height: 72px;
  }
}

.tm-product-card-properties {
  display: none;
  margin: 0;
}
.tm-product-card-properties > li:nth-child(n+2) {
  margin-top: 5px;
}

.tm-product-card-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tm-product-card-prices {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tm-product-card-price {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.tm-product-card-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.tm-product-card-add-button {
  position: relative;
  bottom: -8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tm-product-card-add-button-text {
  display: none;
}

.tm-product-card-labels {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
}
.tm-product-card-labels > .uk-label {
  font-size: 10px;
  display: table;
  margin-bottom: 3px;
  margin-left: auto;
  padding: 0 3px;
}
.tm-product-card-labels > .uk-label:last-child {
  margin-bottom: 0;
}

.tm-product-card-actions {
  margin-right: 10px;
  margin-bottom: 2px;
}
.tm-product-card-actions:only-child {
  margin-right: 0;
}

.tm-product-card-action {
  margin-right: 10px;
}
.tm-product-card-action:last-child {
  margin-right: 0;
}

.tm-product-card-action-text {
  display: none;
  border-bottom: 1px dotted;
}

.tm-products-list .tm-product-card {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.tm-products-list .tm-product-card:last-child {
  border-bottom: none;
}
.tm-products-list .tm-product-card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  .tm-products-list .tm-product-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tm-products-list .tm-product-card-media {
    width: 33.3%;
  }
  .tm-products-list .tm-product-card-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 20px 20px 0;
  }
  .tm-products-list .tm-product-card-info {
    padding-right: 20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  .tm-products-list .tm-product-card-properties {
    display: block;
  }
  .tm-products-list .tm-product-card-shop {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.3%;
    min-width: 170px;
    margin: 0;
    padding-left: 20px;
    border-left: 1px solid #E5E5E5;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .tm-products-list .tm-product-card-price {
    font-size: 24px;
  }
  .tm-products-list .tm-product-card-add {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
    margin-left: 0;
  }
  .tm-products-list .tm-product-card-add-button {
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0px 30px;
    border-radius: 4px;
  }
  .tm-products-list .tm-product-card-add-button-icon {
    display: none;
  }
  .tm-products-list .tm-product-card-add-button-text {
    display: block;
  }
  .tm-products-list .tm-product-card-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .tm-products-list .tm-product-card-actions:only-child {
    margin-top: 0;
  }
  .tm-products-list .tm-product-card-action {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .tm-products-list .tm-product-card-action:last-child {
    margin-bottom: 0;
  }
  .tm-products-list .tm-product-card-action-text {
    display: inline;
    margin-left: 5px;
  }
}
.tm-action-button-active,
.tm-action-button-active > * {
  color: #f0506e;
}

.tm-filters {
  display: none;
}

.tm-filters .uk-accordion > * {
  margin-top: 0;
  border-top: 1px solid #E5E5E5;
}
.tm-filters .uk-accordion > *:first-child {
  border-top: none;
}

.tm-filters.uk-offcanvas.uk-open {
  margin: 0;
  padding: 0;
}

.tm-filters.uk-offcanvas.uk-offcanvas-overlay:before {
  position: fixed;
}

@media (min-width: 960px) {
  .tm-filters.uk-offcanvas {
    position: static;
    display: block;
  }
  .tm-filters.uk-offcanvas .uk-offcanvas-bar {
    position: static;
    overflow: visible;
    width: auto;
    -webkit-transform: none;
            transform: none;
    background: none;
  }
  .tm-filters.uk-offcanvas .uk-offcanvas-bar > .uk-card > .uk-card-header {
    display: none;
  }
}
.tm-scrollbox {
  overflow: auto;
  max-height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #FFF), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, #FFF)) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(#FFF 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #FFF 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
}

.tm-checkbox,
.tm-radio {
  display: none;
}
.tm-checkbox + label,
.tm-radio + label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}
.tm-checkbox + label::before, .tm-checkbox + label::after,
.tm-radio + label::before,
.tm-radio + label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
}
.tm-checkbox + label::before,
.tm-radio + label::before {
  margin-top: 3px;
  margin-right: 10px;
  border: 1px solid #E5E5E5;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tm-checkbox:hover + label::before,
.tm-radio:hover + label::before {
  background-color: #F8F8F8;
}
.tm-checkbox:checked + label::before,
.tm-radio:checked + label::before {
  border-color: transparent;
  background-color: #1e87f0;
}
.tm-checkbox + label::after,
.tm-radio + label::after {
  position: absolute;
  top: 3px;
  left: 0;
  border: 1px solid transparent;
}
.tm-checkbox:checked + label::after,
.tm-radio:checked + label::after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tm-checkbox + label::before {
  border-radius: 4px;
}

.tm-radio + label::before {
  border-radius: 50%;
}

.tm-checkbox:checked + label::after {
  background-image: url("../../images/backgrounds/form-checkbox.svg");
}

.tm-radio:checked + label::after {
  background-image: url("../../images/backgrounds/form-radio.svg");
}

.tm-help-icon {
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  color: #999;
  border-radius: 100%;
  background-color: #F8F8F8;
}
.tm-help-icon:hover {
  color: #666;
}

.tm-slider-items .tm-media-box-frame {
  padding: 10px;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 0.75;
}
.tm-slider-items > :hover .tm-media-box-frame {
  opacity: 1;
}
.tm-slider-items > .uk-active .tm-media-box-frame {
  opacity: 1;
  border-color: #1e87f0;
}

.tm-variations {
  margin: 0 0 0 -10px;
}
.tm-variations > * {
  padding-left: 10px;
}
.tm-variations > * > :first-child {
  color: #666;
  border: 1px solid #E5E5E5;
}
.tm-variations > .uk-active > a {
  color: #666;
  border-color: #1e87f0;
  background-color: transparent;
}
.tm-variations > * > .tm-variation-color {
  padding: 5px;
  border-radius: 50%;
}

.tm-variation-color > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.tm-product-info {
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 960px) {
  .tm-product-info {
    min-width: 390px;
    border-top: none;
    border-left: 1px solid #E5E5E5;
  }
}

.tm-product-price {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.tm-product-add-button {
  padding: 0 15px;
}
@media (min-width: 420px) {
  .tm-product-add-button {
    padding: 0 25px;
  }
}

.tm-product-description {
  border-top: #E5E5E5 solid 1px;
}

.tm-product-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  background-color: #fff;
}
.tm-product-nav > .uk-subnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10px 15px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 640px) {
  .tm-product-nav > .uk-subnav {
    padding: 20px;
  }
}
.tm-product-nav > .uk-subnav > :first-child {
  padding-left: 0;
}

.tm-product-nav-fixed {
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  -webkit-box-shadow: inset 0 -1px 0 0 #E5E5E5;
          box-shadow: inset 0 -1px 0 0 #E5E5E5;
}

.tm-quantity-input {
  width: 60px;
  margin: 0 5px;
  text-align: center;
}

.tm-quantity-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #666;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tm-quantity-button:hover {
  color: #333;
}

.tm-slidenav.uk-invisible {
  visibility: visible !important;
  pointer-events: none;
  opacity: 0.3;
}

.tm-checkout {
  counter-reset: list;
}

.tm-checkout-title::before {
  content: counter(list) ". ";
  counter-increment: list;
  color: #999;
}

.tm-choose {
  position: relative;
  width: 100%;
  padding: 40px 20px 10px;
  cursor: pointer;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}
.tm-choose.uk-active {
  border-color: #1e87f0;
}
.tm-choose:not(.uk-active):hover, .tm-choose:not(.uk-active):focus {
  background-color: #F8F8F8;
}
.tm-choose::before, .tm-choose::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 50%;
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.tm-choose::before {
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tm-choose:hover::before {
  background-color: #F8F8F8;
}
.tm-choose.uk-active::before {
  border-color: transparent;
  background-color: #1e87f0;
}
.tm-choose::after {
  position: absolute;
  border: 1px solid transparent;
}
.tm-choose.uk-active::after {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../../images/backgrounds/form-radio.svg");
}
.tm-choose .tm-choose-title {
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  color: #999;
}
.tm-choose.uk-active .tm-choose-title {
  color: #666;
}
.tm-choose .tm-choose-description {
  font-size: 0.6875rem;
  margin-top: 5px;
  text-align: center;
  color: #999;
}

.uk-card-body.uk-card-small .tm-wrapper,
.uk-card-small .uk-card-body .tm-wrapper {
  margin-right: -20px;
  margin-left: -20px;
}

.uk-card-body.uk-card-small .tm-wrapper:first-child,
.uk-card-small .uk-card-body .tm-wrapper:first-child {
  margin-top: -20px;
}

.uk-card-body.uk-card-small .tm-wrapper:last-child,
.uk-card-small .uk-card-body .tm-wrapper:last-child {
  margin-bottom: -20px;
}

.uk-card-body.uk-card-small .tm-wrapper figcaption,
.uk-card-small .uk-card-body .tm-wrapper figcaption {
  margin-right: 20px;
  margin-left: 20px;
}

.uk-card-body .tm-wrapper {
  margin-right: -30px;
  margin-left: -30px;
}

.uk-card-body .tm-wrapper:first-child {
  margin-top: -30px;
}

.uk-card-body .tm-wrapper:last-child {
  margin-bottom: -30px;
}

.uk-card-body .tm-wrapper figcaption {
  margin-top: 5px;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  color: #999;
}

@media (min-width: 1200px) {
  .uk-card-body .tm-wrapper {
    margin-right: -40px;
    margin-left: -40px;
  }
  .uk-card-body .tm-wrapper:first-child {
    margin-top: -40px;
  }
  .uk-card-body .tm-wrapper:last-child {
    margin-bottom: -40px;
  }
}
.tm-compare-table {
  height: 0;
}
.tm-compare-table td,
.tm-compare-table th {
  vertical-align: top;
}
.tm-compare-table th {
  font-size: 16px;
  text-transform: none;
}
.tm-compare-table tbody > tr:nth-of-type(even) {
  background-color: #f8f8f8;
}

.tm-compare-table-column {
  min-width: 240px;
}

.tm-rating {
  margin-left: -3px;
  color: #999;
}
.tm-rating > * {
  padding-left: 3px;
}

.tm-reviews-column {
  min-width: 200px;
}

.tm-cart-quantity-column {
  min-width: 115px !important;
}

.tm-nav > li > a {
  padding: 10px 0;
}

.tm-nav > li.uk-active > a,
.tm-nav > li > a:hover {
  -webkit-box-shadow: inset 2px 0 0 #1e87f0;
          box-shadow: inset 2px 0 0 #1e87f0;
}

.tm-nav > li.uk-active > a {
  font-weight: 500;
}

.tm-ratio {
  position: relative;
}
.tm-ratio::before {
  content: "";
  display: block;
  width: 100%;
}
.tm-ratio > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tm-ratio-1-1::before {
  padding-top: 100%;
}

.tm-ratio-3-2::before {
  padding-top: 66.66%;
}

.tm-ratio-4-3::before {
  padding-top: 75%;
}

.tm-ratio-16-9::before {
  padding-top: 56.25%;
}

.tm-media-box {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.tm-media-box-frame {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.tm-media-box-zoom {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.tm-media-box-wrap {
  position: relative;
  height: 100%;
  margin: 0;
}
.tm-media-box-wrap > * {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.tm-pseudo {
  border-bottom: 1px dotted;
}

@media (max-width: 640px) {
  .tm-ignore-container {
    margin-right: -15px;
    margin-left: -15px;
    border-radius: 0;
  }
}

.tm-shadow-remove {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tm-shine {
  position: relative;
  overflow: hidden;
}
.tm-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 100%;
  -webkit-transform: skew(-10deg, 0deg);
          transform: skew(-10deg, 0deg);
  opacity: 0.3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.03)), color-stop(30%, rgba(255, 255, 255, 0.6)), color-stop(50%, rgba(255, 255, 255, 0.85)), color-stop(70%, rgba(255, 255, 255, 0.85)), color-stop(71%, rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
}
.tm-shine:hover::after {
  left: 100%;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.tm-grayscale {
  -webkit-filter: grayscale(100%) opacity(50%);
          filter: grayscale(100%) opacity(50%);
}
.tm-grayscale:hover {
  -webkit-filter: none;
          filter: none;
}