@import "../global/_variables";
@import "../global/_mixins";

.text-align-right{
    text-align:right
}
.padding-top{
    padding-top:100px;
    @include breakpoint-sm {
        padding-top:80px
    }
    @include breakpoint-xs {
        padding-top:60px
    }
}
.padding-bottom{
    padding-bottom:100px;
    @include breakpoint-sm {
        padding-bottom:80px
    }
    @include breakpoint-xs {
        padding-bottom:60px
    }
}

.overflow-hidden{
    overflow:hidden
}

/* Inputs */
input{
    font-size: 14px;
    line-height: 1.2;
    border:1px solid #E5E5E5;
    border-radius: 32px;
    padding: 16px;
    font-family: var(--body-font);
    width: 100%;
}
input::placeholder{
    color: var(--placeholder-color);
}
textarea::placeholder{
    color: var(--placeholder-color);
}
.input-large{
    font-size: 16px;
    line-height: 1.2;
}
label,.input-label{
    color: var(--label-color);
    font-family: var(--body-font-medium);
    font-size: 12px;
    line-height: 1.2;
}
.input-supporting-text{
    font-size: 12px;
    line-height: 1.2;
}

/* FORM CLASSES */
.field-wrapper + .field-wrapper {
    margin-top: 20px;
}

.field-wrapper:focus-within {
    .input-label {
        color: black;
    }
}

.input-label {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 5px;
}

.input-field {
    background-color: white;
    border: solid 1px transparent;
    border-radius: 32px;
    display: block;
    font-size: 14px;
    outline: none;
    padding: 0 16px;
    transition: all 0.3s var(--cubic);
    width: 100%;
    height: 49px;

    &:focus,
    &:focus-visible {
        border: 1px solid black;
    }
}

.input-select {
    background: white url(icon-select.svg) calc(100% - 16px) center no-repeat;
    border-radius: 32px;
    border: 1px solid transparent;
    display: block;
    font-size: 14px;
    outline: none;
    padding: 0 16px;
    transition: all 0.3s var(--cubic);
    width: 100%;
    height: 49px;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus,
    &:focus-visible {
        border: 1px solid black;
    }
}

.input-message {
    background-color: white;
    border: solid 1px transparent;
    border-radius: 16px;
    display: block;
    font-size: 14px;
    outline: none;
    padding: 16px;
    resize: none;
    transition: all 0.3s var(--cubic);
    width: 100%;
    height: 133px;

    &::-webkit-scrollbar {
    display: none;
    }
    
    -ms-overflow-style: none;
    scrollbar-width: none;

    &:focus,
    &:focus-visible {
        border: 1px solid black;
    }
}

/* Insta feed app */
#insta-feed{
    margin-top:0 !important;
    h2{
        @extend .h-xs;

        margin-bottom:40px !important;
        @media (max-width: 1599px) {
            margin-bottom: 30px !important;
        }
        @include breakpoint-sm {
            margin-bottom:20px !important;
        }
    }
    a{
        z-index:1 !important
    }
    .instafeed-overlay::before{
        z-index:1 !important
    }
    .slider-arrow{
        font-size:18px !important;
        z-index:2 !important
    }
}

/* Shopify captcha page */
.shopify-challenge__container{
    padding-top:60px;
    padding-bottom:100px;
    text-align:center;
    @include breakpoint-sm {
        padding-top:30px;
        padding-bottom:75px
    }
    .shopify-challenge__message{
        margin-bottom:20px
    }
    .shopify-challenge__button{
        margin:20px auto !important
    }
}
.submitted-message{
    font-size:14px;
    margin-top:20px;
    @include breakpoint-sm {
        text-align:center
    }
}