 <div id="cart-offcanvas" uk-offcanvas="overlay: true; flip: true" class="uk-offcanvas" style="">
    <aside class="uk-offcanvas-bar uk-padding-remove">
    <div class="uk-card uk-card-default uk-card-small uk-height-1-1 uk-flex uk-flex-column tm-shadow-remove">
        <header class="uk-card-header uk-flex uk-flex-middle">
        <div class="uk-grid-small uk-flex-1 uk-grid" uk-grid="">
            <div class="uk-width-expand uk-first-column">
            <div class="uk-h3">Cart</div>
            </div>
            <button class="uk-offcanvas-close uk-close uk-icon" type="button" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
        </div>
        </header>
        <div class="uk-card-body uk-overflow-auto">
        <ul class="uk-list uk-list-divider">
            <li class="uk-visible-toggle">
            <arttcle>
                <div class="uk-grid-small uk-grid" uk-grid="">
                <div class="uk-width-1-4 uk-first-column">
                    <div class="tm-ratio tm-ratio-4-3"><a class="tm-media-box" href="product.html">
                        <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
                        </figure></a></div>
                </div>
                <div class="uk-width-expand">
                    <div class="uk-text-meta uk-text-xsmall">Laptop</div><a class="uk-link-heading uk-text-small" href="product.html">Apple MacBook Pro 15" Touch Bar MPTU2LL/A 256GB (Silver)</a>
                    <div class="uk-margin-xsmall uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                    <div class="uk-text-bolder uk-text-small uk-first-column">$1599.00</div>
                    <div class="uk-text-meta uk-text-xsmall">1 × $1599.00</div>
                    </div>
                </div>
                <div><a class="uk-icon-link uk-text-danger uk-invisible-hover uk-icon" href="#" uk-icon="icon: close; ratio: .75" uk-tooltip="Remove" title="" aria-expanded="false"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="close"><path fill="none" stroke="#000" stroke-width="1.06" d="M16,16 L4,4"></path><path fill="none" stroke="#000" stroke-width="1.06" d="M16,4 L4,16"></path></svg></a></div>
                </div>
            </arttcle>
            </li>
            <li class="uk-visible-toggle">
            <arttcle>
                <div class="uk-grid-small uk-grid" uk-grid="">
                <div class="uk-width-1-4 uk-first-column">
                    <div class="tm-ratio tm-ratio-4-3"><a class="tm-media-box" href="product.html">
                        <figure class="tm-media-box-wrap"><img src="https://placehold.co/80x80" alt="Apple MacBook 12&quot; MNYN2LL/A 512GB (Rose Gold)">
                        </figure></a></div>
                </div>
                <div class="uk-width-expand">
                    <div class="uk-text-meta uk-text-xsmall">Laptop</div><a class="uk-link-heading uk-text-small" href="product.html">Apple MacBook 12" MNYN2LL/A 512GB (Rose Gold)</a>
                    <div class="uk-margin-xsmall uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                    <div class="uk-text-bolder uk-text-small uk-first-column">$1549.00</div>
                    <div class="uk-text-meta uk-text-xsmall">1 × $1549.00</div>
                    </div>
                </div>
                <div><a class="uk-icon-link uk-text-danger uk-invisible-hover uk-icon" href="#" uk-icon="icon: close; ratio: .75" uk-tooltip="Remove" title="" aria-expanded="false"><svg width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="close"><path fill="none" stroke="#000" stroke-width="1.06" d="M16,16 L4,4"></path><path fill="none" stroke="#000" stroke-width="1.06" d="M16,4 L4,16"></path></svg></a></div>
                </div>
            </arttcle>
            </li>
        </ul>
        </div>
        <footer class="uk-card-footer">
        <div class="uk-grid-small uk-grid" uk-grid="">
            <div class="uk-width-expand uk-text-muted uk-h4 uk-first-column">Subtotal</div>
            <div class="uk-h4 uk-text-bolder">$3148.00</div>
        </div>
        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-margin-small uk-grid" uk-grid="">
            <div class="uk-first-column"><a class="uk-button uk-button-default uk-margin-small uk-width-1-1" href="cart.html">view cart</a></div>
            <div><a class="uk-button uk-button-primary uk-margin-small uk-width-1-1" href="checkout.html">checkout</a></div>
        </div>
        </footer>
    </div>
    </aside>
</div>

{% schema %}
{
  "name": "Side Cart",
  "class": "section-side-cart",
  "tag": "section",
  "settings": [

  ]
}
{% endschema %}
