/* Reset */
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    // scroll-behavior:smooth
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: var(--body-font);
    font-weight: 400;
}
ul{
    list-style:none;
    margin:0;
    padding:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:rgba(0,0,0,0);
    text-decoration:none;
    color:#000
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:bold
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-0.5em
}
sub{
    bottom:-0.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    height:0
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto;
    -webkit-appearance: none;
}
input[type=search]{
    -webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    border:0;
    padding:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:bold
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
*,*:before,*:after{
    box-sizing:border-box
}
img{
    max-width:100%
}
p,h1,h2,h3,h4,h5,h6{
    margin:0;
}
dt,dd {
    display: inline;
    margin: 0;
}
*::-webkit-scrollbar{
    width:5px;
    heigh:5px
}
*::-webkit-scrollbar-track{
    opacity:0
}
*::-webkit-scrollbar-thumb{
    background-color:#000;
    border-radius:8px
}


/* No JS */
.no-js:not(html) {
  display: none !important;
}

html.no-js .no-js:not(html) {
  display: block !important;
}

.no-js-inline {
  display: none !important;
}

html.no-js .no-js-inline {
  display: inline-block !important;
}

html.no-js .no-js-hidden {
  display: none !important;
}

/* Reusable styling*/
body{
    background: var(--color-background);
    color: var(--color-base)
}
p{
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
}
h1,h1,h3,h4,h5,h6{
    font-family: var(--heading-font);
    margin: 0;
    font-weight: 400;
}
h1,.headline-text-lg{
    font-size: 28px;
    line-height: 130%;
    @media screen and (min-width: 769px) {
        font-size: 32px;
    }
}
h2, .headline-text-md{
    font-size: 28px;
    line-height: 130%;
}
h3, .headline-text-sm{
    font-size: 24px;
    line-height: 130%;
}
h4{
    font-size: 22px;
    line-height: 130%;
}
h5{
    font-size: 20px;
    line-height: 130%;
}
h6{
    font-size: 18px;
    line-height: 130%;
}
.display-text-lg{
    font-size: 57px;
    line-height: 130%;
}
.display-text-md{
    font-size: 45px;
    line-height: 130%;
}
.display-text-sm{
    font-size: 36px;
    line-height: 130%;
}
.title-text-lg{
    font-size: 22px;
    line-height: 130%;
}
.title-text-md{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 20px;
}
.title-text-sm{
    font-size: 14px;
    line-height: 130%;
}
.text-md{
    font-size: 14px;
    line-height: 130%;
    @media screen and (min-width: 769px) {
        font-size: 12px;
    }
}
.text-sm{
    font-size: 12px;
    line-height: 130%;
}
label{
    font-size: 14px;
    line-height: 130%;
    display: inline-block;
}
.label-medium{
    font-size: 12px;
    line-height: 130%;
}
.label-small{
    font-size: 11px;
    line-height: 130%;
}
/* Reusable styling*/
img {
    width: 100%;
    height: auto;
  }
.hide,.hidden{
    display:none !important;
}
.visually-hidden{
    position:absolute !important;
    overflow:hidden;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    border:0;
    clip:rect(0 0 0 0);
    word-wrap:normal !important
}
@media screen and (max-width: 1024px) {
  .small-hide {
    display: none !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  .medium-hide {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .large-up-hide {
    display: none !important;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-light {
  opacity: 0.7;
}

.text-break {
  word-break: break-word;
}

.text-underline {
  text-decoration: underline;
}

.space-both {
  padding: 48px 0;
  @media (min-width: 769px) {
    padding: 80px 0;
  }
}
.space-both_small {
    padding: 24px 0;
    @media (min-width: 769px) {
      padding: 48px 0;
    }
 }
 .space-top {
    padding: 48px 0;
    @media (min-width: 769px) {
      padding: 80px 0;
    }
}
.space-top_small {
    padding-top: 24px 0;
    @media (min-width: 769px) {
    padding-top: 48px 0;
    }
}
.space-bottom {
  padding-bottom: 48px 0;
  @media (min-width: 769px) {
    padding-bottom: 80px 0;
  }
}
.space-bottom_small {
    padding-bottom: 24px 0;
    @media (min-width: 769px) {
      padding-bottom: 48px 0;
    }
 }

.text-success{
    color: var(--color-highlight);
}
.text-error{
    color: var(--color-error);
    margin-top: 10px;
}

/* custom select */
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
  }
.custom-select__selected-option {
    padding: 10px;
    border: 1px solid var(--color-border);
    cursor: pointer;
    background-color: var(--color-background);
    text-transform: uppercase;
}
.custom-select__variant-options {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid var(--color-border);
    border-top: none;
    z-index: 1;
    background-color: var(--color-background);
}
.custom-select__variant-option {
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid var(--color-border);
}
.custom-select__variant-option:first-child {
    border-top: none;
}
.custom-select__variant-option:hover {
    background-color: var(--color-background-darker);
}
.custom-select__dropdown-arrow{
    position: absolute;
    right: 10px;
    top: 12px;
    pointer-events: none;
    font-family: swiper-icons;
    transform: rotate(90deg);
    right: 20px;
    top: 17px;
    font-size: 12px;
}
.custom-select__dropdown-arrow:after {
    content: 'next';
}

.btn{
    background: var(--color-btn);
    border: none;
    padding: 12px 16px;
    text-transform: uppercase;
    color:var(--color-btn-text);
    width: 100%;
}
.btn[disabled]{
    opacity: 0.7;
}
.btn:hover{
    background: var(--color-btn-hover);
}
.btn[disabled]:hover{
    background: var(--color-btn);
}
.btn__text{
    margin-right: 5px;
}
.item-padding-top{
    padding-top: 24px;
    @media screen and (min-width: 769px) {
        padding-top:32px;
    }
}
.item-padding-top_small{
    padding-top: 8px;
    @media screen and (min-width: 769px) {
        padding-top:12px;
    }
}
.page-width{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.metafield-rich_text_field{
    ul{
        margin-top: 16px;
        margin-left: 35px;
        li{
            position: relative;
        }
        li:before{
            content: '';
            background-image: url('data:image/svg+xml,<svg width="21.000000" height="21.000000" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs/><rect id="Frame 48098653" rx="10.000000" width="20.000000" height="20.000000" transform="translate(0.500000 0.500000)" fill="%23F8C063" fill-opacity="1.000000"/><path id="check" d="M8.66 15L4.38 10.73L5.45 9.66L8.66 12.87L15.54 5.99L16.61 7.05L8.66 15Z" fill="%2361402E" fill-opacity="1.000000" fill-rule="nonzero"/></svg>');  
            color: var(--color-highlight);
            width: 21px;
            height: 21px;
            display: inline-block;
            position: absolute;
            left: -35px;
            top: 3px;
        }
    }
    p, li{
        margin-bottom: 16px;
    }
    p:last-child, li:last-child{
        margin-bottom: 0;
    }
}

/* Overrride swiper icons */
.gallery-wrapper{
    .swiper-button-next, .swiper-button-prev{
        color: var(--color-border);
        width: 36px;
        height: 36px;
        background-color: var(--color-background);
        border-radius: 50%;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 14px;
    }
}
