 .color-swatch {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid var(--color-background);
  }
  .color-swatch.active{
    border: 3px solid #fff;
    box-shadow: 0px 0px 0px 1px var(--color-border);
  }
  .gallery-wrapper{
    overflow: hidden;
  }
  .gallery-top{
    margin-bottom: 20px;
  }
  .gallery-thumbs .swiper-slide{
    cursor: pointer;
  }
  .variant-image{
    max-width: 200px;
  }
  .popup-item-image{
    width: 50px;
  }
  #cart-popup{
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    position: fixed;
    right: 20px;
    left: 20px;
    bottom: 20px;
    top: auto;
    font-family:var(--secondary-font);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }
  .popup-item-sub_title{
    font-family:var(--secondary-font);
    font-weight: 400;
  }
  .cart-popup_content{
    display: flex;
    align-items: center;
    width: 70%;
  }
  .popup-item-color{
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
  }
  .cart-popup_link{
    color: #000;
    display: block;
  }
  .cart-popup_actions{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .compare-at-price{
    text-decoration: line-through;
    color: #B09F97;
  }
  .button-wrapper{
    display: flex;
    flex-flow: column-reverse;
    }
    .action-items__free_text{
        margin-top: 10px;
        margin-bottom: 0;
    }
  .quantity {
    border: 1px solid;
    display: flex;
    margin-bottom: 12px;
    height: 48px;
    align-items: center;
  }
  .quantity span {
    cursor: pointer;
    padding: 0 10px;
  }
  .quantity input {
    text-align: center;
    border: none;
    background: transparent;
    width: 100%;
  }
  /* Reviews widget */
  .product-info{
    .ezrv-widget-container{
      font-size: 14px;
      .ezrv-widget_rating_star_content{
        font-size: 20px ;
      }
      > span{
        position: relative;
          top: -1px;
      }
    }
  }
  .product-info__featured-icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .product-info__featured-icons__item{
    width: 33%;
  }

  @media screen and (min-width: 768px){
    .product-info__featured-icons__item{
        width: unset;
      }
    #cart-popup{
      width: 375px;
      top: 20px;
      left: auto;
      bottom: auto;
    }
    /* .gallery-wrapper{
      margin-right: 40px;
    } */
    /* .product-info{
      margin-left: 40px;
      width: 50%;
    } */
    /* .product-wrapper{
      display: flex;
      justify-content: space-between;
    }
    .gallery-wrapper{
        width: 50%;
    } */
    .action-items {
      display: flex;
      align-items: end;
    }
    .action-items__free_text{
        margin-bottom: 10px;
        margin-top: 0;
        display: block;
    }
    .button-wrapper{
        text-align: center;
        display: block;
        width: 100%;
    }
    .quantity {
      justify-content: space-between;
      align-items: center;
      width: 30%;
      min-width: 30%;
      margin-right: 20px;
      margin-bottom: 0;
    }
    .quantity input {
        text-align: center;
        border: none;
        background: transparent;
    }
    .btn--addtocart {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}